body{
    height: 100vh;
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Lobster', cursive;

    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(82, 63, 251) 0%, rgba(252,70,107,1) 100%);
}

body div{
    height: 100;
}

